<% title "Blueprints" %>

<%= title_actions new_link(_("Create Blueprint"), engine: foreman_image_builder) %>

<table class="<%= table_css_classes 'table-fixed' %>">
  <thead>
    <tr>
      <th><%= _('Smart Proxy') %></th>
      <th><%= _('Name') %></th>
      <th><%= _('Images') %></th>
      <th class="col-md-1"><%= _('Actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @proxies.each do |proxy| %>
      <% (@blueprints[proxy.id] || []).each do |blueprint| %>
        <tr>
          <td><%= proxy.name %></td>
          <td><%= blueprint.name %></td>
          <td><%= @images[proxy.id].fetch(blueprint.name, []).size %></td>
          <td><%= action_buttons(*permitted_blueprint_actions(blueprint)) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
